.main {
  text-align: center;
}

.search-bar {
  height: 50px;
  display: block;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search-input {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.search-tag {
  text-align: left;
  padding: 10px;
}

.search-result {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
}

.image-card {
  width: 100%;
  max-width: 300px;
}

.image-tag {
  text-align: left;
}

.image-desc {
  color: darkgrey;
}

.tag-card {
  min-width: 350px;
}
